@media screen and (min-width: 1000px) {
  .downloadSignup {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .w-90 {
    width: 91.5%;
  }

  .w-99 {
    width: 93%;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item {
    height: 70vh;
  }

  .banner {
    height: 70vh;
  }
}

@media screen and (max-width: 766px) {
  .move-left {
    margin-left: 0;
    margin-right: 70%;
  }

  /* .carousel-slide {
    padding: 20% 10%;
  } */

  .modal-content {
    width: 450px;
    padding: 20% 15%;
  }
}

@media screen and (max-width: 425px) {
  .w-99 {
    width: 94%;
  }

  .top-nav {
    font-size: 0.7em;
  }

  .card-img {
    height: 80px;
    width: 80px;
  }

  .smartPhone {
    height: 70vh;
  }

  .carousel-item {
    margin-top: 30px;
    height: 60vh;
  }

  .banner {
    height: 60vh;
  }

  .modal-content {
    width: 400px;
    padding: 20% 12%;
  }
}

@media screen and (max-width: 410px) {
  .w-99 {
    width: 94.5%;
  }

  .modal-content {
    width: 350px;
    padding: 20% 7%;
  }

  .move-left {
    margin-left: 0;
    margin-right: 55%;
  }
}

@media screen and (max-width: 350px) {
  .w-99 {
    width: 95%;
  }

  .top-nav {
    font-size: 0.6em;
  }

  .card-img {
    height: 60px;
    width: 60px;
  }

  .modal-content {
    width: 300px;
    padding: 20% 5%;
  }

  .move-left {
    margin-left: 0;
    margin-right: 50%;
  }
}
