@media screen and (min-width: 1000px) {
  .downloadSignup {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .phone {
    background-size: contain;
  }
}

@media screen and (max-width: 769px) {
  .phone {
    background-size: contain;
    padding: 50% 23%;
  }

  .carousel-slide {
    padding: 20% 10%;
  }

  .modal-content {
    width: 450px;
    padding: 20% 15%;
  }
}

@media screen and (max-width: 425px) {
  .carousel-slide {
    font-size: 2.5em;
    padding: 30% 10%;
  }

  .phone {
    padding: 50% 25%;
  }

  .modal-content {
    width: 400px;
    padding: 20% 12%;
  }
}

@media screen and (max-width: 410px) {
  .modal-content {
    width: 350px;
    padding: 20% 7%;
  }
}

@media screen and (max-width: 350px) {
  .modal-content {
    width: 300px;
    padding: 20% 5%;
  }
}
