body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

.btn-outline-black {
  color: #000000;
  border: 1px solid #000000;
}

.btn-outline-black:hover {
  color: #ffffff;
  background-color: #000000;
}

.bg-black {
  background: #2c2f33;
}

.move-left {
  margin-left: auto;
}

.w-90 {
  width: 100%;
}

.carousel-slide {
  height: 80vh;
  width: 100%;
  padding: 10% 10%;
  font-size: 4em;
  font-weight: bolder;
  color: #ffc107;
}

.one {
  background-image: url("https://res.cloudinary.com/taofeeq/image/upload/v1586905918/32925622958_94dc9b393b_b_ccithp.jpg");
  background-size: cover;
  background-position: center;
}

.two {
  background-image: url("https://res.cloudinary.com/taofeeq/image/upload/v1586906872/online-shopping-4516037_960_720_slahxa.jpg");
  background-size: cover;
  background-position: center;
}

.three {
  background-image: url("https://res.cloudinary.com/taofeeq/image/upload/v1586906880/1_nwltr9.jpg");
  background-size: cover;
  background-position: center;
}

.w-85 {
  width: 85%;
}

.store-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.store {
  display: flex;
  flex-direction: column;
}

.small {
  font-size: 0.6em;
  margin-bottom: -0.5em;
}

.big {
  font-size: 1em;
  font-weight: bold;
}

.aboutUs {
  border-bottom: 3px solid #ffffff;
}

.contactUs {
  border-bottom: 3px solid #333333;
}

.landline {
  background-image: url("https://res.cloudinary.com/taofeeq/image/upload/v1586923005/telefono-rojo_afgzse.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  /* background: red; */
  padding: 30% 30%;
  display: flex;
  flex-flow: column nowrap;
}

.landline a:hover {
  text-decoration: none;
  font-weight: bold;
}

.modal-content {
  max-width: 500px;
  height: 50vh;
  padding: 20% 20%;
}

.modal-content-inner {
  display: flex;
  flex-flow: row nowrap;
}
